export(arid)
export(as.datcli)
export(bagn_gau)
export(climate)
export(contin)
export(ExAtRa)
export(koeppen_geiger)
export(peguy)
export(thornthwaite)
import(geosphere)
import(ggplot2)
import(reshape2)
S3method(plot,thornthwaite)
